<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例(watch实现)</title>
    <script src="../js/vue.js"></script>
</head>

<body>

    <!-- 
        computed 和 watch 的区别：
            1、computed能完成的功能，watch都可以完成
            2、watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作

        两个重要原则：
            1、所有被Vue管理的函数，最好写成普通函数，这样this的指向才是 vm 或 组件实例对象
            2、所有不被Vue管理的函数（定时器回调函数、ajax回调函数、Promise回调函数等），最好写成箭头函数，
                这样this的指向才是 vm 或 组件实例对象
        
     -->
    <div id="app">
        <input type="text" v-model="firstName"><br><br>
        <input type="text" v-model="lastName"><br><br>
        <span>{{fullName}}</span>
    </div>

    <script>
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: '#app',
            data: {
                firstName: '张',
                lastName: '三',
                fullName: '张-三'
            },
            watch: {
                firstName(val) {
                    this.fullName = val + '-' + this.lastName

                    /* 
                        // 修改姓一秒钟之后才显示新的全名
                        setTimeout(() => {
                            this.fullName = val + '-' + this.lastName
                        }, 1000); 
                    */
                },
                lastName(val) {
                    this.fullName = this.firstName + '-' + val
                },
            }
        })
    </script>
</body>

</html>